body {
    font-family: Arial, Helvetica, sans-serif;
    background: grey;
}

main {
    max-width: 550px;
    margin: 120px auto;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px 18px;
    background: #a30101;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #7d0000;
}

.msg {
    background: #e6ffe6;
    padding: 10px;
    border: 1px solid #b6e3b6;
    border-radius: 8px;
    margin-bottom: 10px;
}