/* Fundo escuro */

.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


/* Caixa do pop-up */

.popup-box {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.25s ease-out;
}


/* Logo */

.popup-logo {
    width: 250px;
    height: 60px;
    margin-bottom: 18px;
}


/* Mensagem */

.popup-box p {
    font-size: 17px;
    color: #333;
    margin-bottom: 20px;
}


/* Botão OK */

.popup-box button {
    background: #a30101;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.popup-box button:hover {
    background: #7f0000;
}


/* Animação */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


/* Mesma base do popup anterior */

.popup-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.popup-yes {
    background: #0b8d20;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.popup-yes:hover {
    background: #066514;
}

.popup-no {
    background: #a30101;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.popup-no:hover {
    background: #7f0000;
}